server {
	listen {{env.Getenv "PORT" "8080"}} default_server;
	listen [::]:{{env.Getenv "PORT" "8080"}} default_server;

	index {{.Env.NGINX_SERVER_INDEX}};
	root  {{.Env.NGINX_SERVER_ROOT}};

	error_page 404 /404.html;

	{{ if eq "true" .Env.NGINX_SINGLE_PAGE_ENABLED }}
	location / {
		try_files $uri $uri/ /{{.Env.NGINX_SINGLE_PAGE_INDEX}} =404;
	}
	{{ else }}
	location / {
		try_files $uri $uri/ =404;
	}
	{{ end }}
	# You may need this to prevent return 404 recursion.
	location = /404.html {
		internal;
	}
}
